<!DOCTYPE html>
<html>
<head>
  <title>Minionsapp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- CSS - Include Bootstrap -->
  <link href="css/creative.min.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#servicos">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#produtos">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

  <footer class="bg-light py-5">
      <div class="container">
        <div class="small text-center text-muted">Copyright © 2019 - Reserva de Minions</div>
      </div>
    </footer>

</body>
</html>
